# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
venv/
.env

# Node
node_modules/
frontend/build/

# IDE
.vscode/
.idea/

# AWS
.aws/

# Local dev
local_data/
*.jar
docker-data/

# QR images
*.png
!frontend/public/*.png

# OS
.DS_Store
